In [ ]:
library("tidyverse")

df <- read_csv(readr_example("mtcars.csv"))
head(df)
is_tibble(df)
str(df)
colnames(df)

dat = df %>% select(wt,cyl,mpg) %>%
              mutate(cyl = as.character(cyl)) %>%
              filter(cyl==4) %>%
              mutate(wt = wt*100) %>%
              mutate(CPW = mpg/wt)
dat
is.tibble(dat)

d = mtcars %>% select(wt,cyl,mpg) %>%
                mutate(cyl = as.character(cyl)) %>%
                filter(cyl==4)%>%
                mutate(wt = wt*100) %>%
                mutate(CPW = mpg/wt)

d
is.tibble(d)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.2
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.4     ✔ forcats 1.0.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Rows: 32 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (11): mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

[1] TRUE

spc_tbl_ [32 × 11] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ mpg : num [1:32] 21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num [1:32] 6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num [1:32] 160 160 108 258 360 ...
 $ hp  : num [1:32] 110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num [1:32] 3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num [1:32] 2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num [1:32] 16.5 17 18.6 19.4 17 ...
 $ vs  : num [1:32] 0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num [1:32] 1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num [1:32] 4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num [1:32] 4 4 1 1 2 1 4 2 2 4 ...
 - attr(*, "spec")=
  .. cols(
  ..   mpg = col_double(),
  ..   cyl = col_double(),
  ..   disp = col_double(),
  ..   hp = col_double(),
  ..   drat = col_double(),
  ..   wt = col_double(),
  ..   qsec = col_double(),
  ..   vs = col_double(),
  ..   am = col_double(),
  ..   gear = col_double(),
  ..   carb = col_double()
  .. )
 - attr(*, "problems")=<externalptr>

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

   wt    cyl mpg  CPW
1  232.0 4   22.8 0.09827586
2  319.0 4   24.4 0.07648903
3  315.0 4   22.8 0.07238095
4  220.0 4   32.4 0.14727273
5  161.5 4   30.4 0.18823529
6  183.5 4   33.9 0.18474114
7  246.5 4   21.5 0.08722110
8  193.5 4   27.3 0.14108527
9  214.0 4   26.0 0.12149533
10 151.3 4   30.4 0.20092531
11 278.0 4   21.4 0.07697842

Warning message:
“`is.tibble()` was deprecated in tibble 2.0.0.
ℹ Please use `is_tibble()` instead.”

[1] TRUE

               wt    cyl mpg  CPW
Datsun 710     232.0 4   22.8 0.09827586
Merc 240D      319.0 4   24.4 0.07648903
Merc 230       315.0 4   22.8 0.07238095
Fiat 128       220.0 4   32.4 0.14727273
Honda Civic    161.5 4   30.4 0.18823529
Toyota Corolla 183.5 4   33.9 0.18474114
Toyota Corona  246.5 4   21.5 0.08722110
Fiat X1-9      193.5 4   27.3 0.14108527
Porsche 914-2  214.0 4   26.0 0.12149533
Lotus Europa   151.3 4   30.4 0.20092531
Volvo 142E     278.0 4   21.4 0.07697842

[1] FALSE